Gruppa
{  
display:block;
text-align:center;
margin:10px 20px 10px 20px;
margin-top:12pt;
border-style:double;
border-color:#8C0088;
font-size:15pt
}
Odnogrup
{  
font-style:italic;
text-align:center
}
Familia
{  
display:block;
text-align:center;
font-weight:bold;
border-top:double;
border-color:#8C0088
}
Ima
{  
display:block;
text-align:center;
border-top:double;
border-color:#8C0088
}
Otchestvo
{  
display:block;
text-align:center;
border-top:double;
border-color:#8C0088
}
Ball
{ 
display:block;
text-align:center;
border-top:double;
border-color:#8C0088
}
God
{
display:block;
text-align:center;
border-top:double;
border-color:#8C0088
}